<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/edituser}" th:object="${user}">
    <input type="hidden" th:field="*{id}" />
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">Фамилия: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <input type="submit" value="Save">
</form>

</body>
</html>